*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'VT323', monospace;
  font-size: 1.2rem;
}

body {
  background-color: rgb(20, 20, 20);

  font-size: 1.5em;
  color: #fff;
  text-shadow: 0 0 1px rgb(204, 204, 204), 0 0 1px rgb(221, 221, 221),
    0 0 2px rgb(212, 212, 212), 0 0 2px #0fa, 0 0 1px #0fa, 0 0 1px #0fa,
    0 0 2px #0fa, 0 0 2px #0fa;
  /* text-shadow: 0 0 80px rgb(192 219 255 / 75%), 0 0 32px rgb(65 120 255 / 24%); */
}

button {
  background-color: rgb(20, 20, 20);
  font-size: 1.2em;
  color: #fff;
  text-shadow: 0 0 1px rgb(204, 204, 204), 0 0 1px rgb(221, 221, 221),
    0 0 2px rgb(212, 212, 212), 0 0 2px #0fa, 0 0 1px #0fa, 0 0 1px #0fa,
    0 0 2px #0fa, 0 0 2px #0fa;
  border: 0px solid red;
}

.ascii {
  font-size: 0.2vh;
  font-family: monospace;
}

.hidden {
  display: none;
}
